<% if !usuario_signed_in? %> 
     <div class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
          <div class="container">
               <div class="navbar-text">
                   <p><span style ="color:#fff;padding-left: 350px">Juan Ignacio Contreras &copy;. Trabajo Fin de Máster. Curso 2018-2019.</span></p>     
               </div>    
           </div>
     </div>
<% end  %> 
